@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F6E8EA;
    text-align: center;
    color: #22181C;
    font-family: 'Poppins', sans-serif; /* Apply Waze-like font */
}

.h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #22181C;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    border: none;
    border-radius: 50%; /* Make the button circular */
    background-color: #EF626C; /* Main color */
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

    .profile-button:hover {
        background-color: #D95B6A; /* Slightly darker on hover */
        transform: scale(1.05);
    }

.admin-button {
    background-color: #264653;
}

    .admin-button:hover {
        background-color: #335F70;
    }

.user-button {
    background-color: #C53D1B;
}

    .user-button:hover {
        background-color: #E24D28;
    }

.button-image {
    width: 8rem;
    height: 8rem;
    margin-bottom: 10px;
}
