.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.profile-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.admin-button {
    background-color: #007bff;
}

.admin-button:hover {
    background-color: #0069d9;
}

.user-button {
    background-color: #ff5722;
}

.user-button:hover {
    background-color: #e64a19;
}

.button-image {
    width: 8rem;
    height: 8rem;
    margin-bottom: 10px;
}
